@font-face {
  font-family: 'SourceHanSansHK';
  src: url('./SourceHanSansHK-Bold-Alphabetic.woff2') format('woff2'),
    url('SourceHanSansHK-Bold-Alphabetic.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('Rajdhani-Bold.woff2') format('woff2'),
    url('Rajdhani-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PingFang SC';
  src: url('./PingFangSC.woff2') format('woff2'),
    url('PingFangSC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Color */
$ActiveColor: rgba(10, 92, 255, 1);
$RegisterBg: linear-gradient(180deg, #f4f9fe 0%, #ffffff 100%);
$LinkColor: rgba(29, 107, 245, 1);
$InputBg: rgba(239, 246, 254, 1);
$WrongInputBg: rgba(254, 239, 239, 1);
$SelectBg: rgba(255, 255, 255, 1);
$normalColor: rgba(133, 144, 162, 1);
$HrColor: rgba(239, 244, 251, 1);
$WrongInputBorder: 1px solid rgba(255, 51, 51, 1);
$CorrectInputBorder: 1px solid $ActiveColor;

/* Button Color */
$disableBtn: rgb(131, 173, 255);

/* Size */
$normal: 0.7rem;

/* Width and Height */
$HeaderHeight: 40vh;
