@import '@/assets/styles/main.scss';
.main-container {
  background: $RegisterBg;
  padding: 5% 10% 10% 10%;
  letter-spacing: 0.1rem;
  box-sizing: border-box;

  .main-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: $HeaderHeight;
    align-items: end;
    margin-bottom: 5%;
    overflow: visible;

    .welcome-container {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;
      z-index: 900;
      bottom: 2rem;
      font-size: 1rem;
      gap: 0.3rem;
    }

    .weclome-upper {
      display: flex;
      align-items: center;
    }

    .companyLogo {
      position: absolute;
      height: 20rem;
      width: 20rem;
      background-image: url('/images/welcome/logo.png');
      background-size: cover;
      right: -5%;
      background-position: center;
    }

    .companyName {
      font-family: 'Rajdhani';
      font-size: 1.2rem;
      color: rgba(26, 37, 57, 0.5);
      margin-left: 0.5rem;
      letter-spacing: 0.07rem;
    }

    .small-logo {
      width: 1.2rem;
    }
  }
}
