.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;

  .navinfo {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 2rem;
    }

    span {
      font-size: 1em;
      color: $normalColor;

      sup {
        color: red;
      }
    }
  }

  .backNav-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $normalColor;
    font-size: 1em;

    .redpoint {
      background: red;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 100%;
    }
  }
}
